{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>::: 스프린트 3 :::</title>
    <!-- Custom fonts for this template-->
    <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
    <link href="{% static 'mainapp/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <!-- <link href="css/sb-admin-2.min.css" rel="stylesheet"> -->
    <link href="{% static 'mainapp/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        #PieChart {
            width: 500px;
            height: 300px;
        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <!-- 사이드바 크기설정 col- 크기 -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion col-2" id="accordionSidebar">
        
        <!-- <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"> -->
            <br/>
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="http://127.0.0.1:8000/">
                <!-- 이미지 각도 변경 -->
                <div class="sidebar-brand-icon rotate-n-15">
                    <!-- 이미지 추가 -->
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">스프린트 3</div>
            </a>

            <!-- 줄 -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:8000/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>index 페이지로 돌아가기</span></a>
            </li>

            <!-- 줄 -->
            <hr class="sidebar-divider">
ㅌ  

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>지역과 전력 사용 분석</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        <a class="collapse-item" href="/Population_consumption" style="font-size: 12px;">지역과 전력 소비 분석</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>지역과 발전 분석</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/Population_PowerPlant" style="font-size: 12px;">지역과 전력 발전 분석</a>
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <br/>
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">5조 스프린트 3번쨰 </h1>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">지역별 전력 사용량 및 발전량</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <!-- 차트 그리기 ####################################################################################-->
                                    <div class="chart-area">
                                        {% comment %} <canvas id="lineChart" style="display: block; width: 100%; height: 100%;"></canvas> {% endcomment %}
                                        <div id="chartContainer" style="height: 100%; width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">한국발전 비율(2020년)</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <!--  Pie Chart그리는 곳 여기에서 데이터를 넣으면됨############################################################################ -->
                                    <div class="chart-area pt-4 pb-2">
                                        <canvas id="PieChart" style="width: 500px; height: 400px;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>

    <!-- 선 차트 ################################################################## -->
    <script>
        $(document).ready(function() {
            //line
            var ctxL = document.getElementById("lineChart").getContext('2d');
            var myLineChart = new Chart(ctxL, {
                type: 'line',
                data: {
                    labels: ["January", "February", "March", "April", "May", "June", "July"],
                    datasets: [{
                        label: "My First dataset",
                        data: [65, 59, 1000, 81, 56, 55, 40],
                        backgroundColor: [
                            'rgba(105, 0, 132, .2)',
                        ],
                        borderColor: [
                            'rgba(200, 99, 132, .7)',
                        ],
                        borderWidth: 2
                    },
                    {
                        label: "My Second dataset",
                        data: [28, 48, 40, 19, 86, 27, 90],
                        backgroundColor: [
                            'rgba(0, 137, 132, .2)',
                        ],
                        borderColor: [
                            'rgba(0, 10, 130, .7)',
                        ],
                        borderWidth: 2
                    }]
                },
                options: {
                    legend: {
                        position: "bottom",
                        align: "start",
                        labels: {
                            // boxWidth: 15,
                            fontColor: "black",
                        },
                    },
                },
            });
        });
    </script>
    <script>
        window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title:{
                text: "전력 시각화, 2020"
            },	
            axisY: {
                title: "발전량(TW)",
                titleFontColor: "#4F81BC",
                lineColor: "#4F81BC",
                labelFontColor: "#4F81BC",
                tickColor: "#4F81BC"
            },
            axisY2: {
                title: "전력사용량(TW)",
                titleFontColor: "#C0504E",
                lineColor: "#C0504E",
                labelFontColor: "#C0504E",
                tickColor: "#C0504E"
            },	
            toolTip: {
                shared: true
            },
            legend: {
                cursor:"pointer",
                itemclick: toggleDataSeries
            },
            data: [{
                type: "column",
                name: "지역별 발전량(TW)",
                legendText: "지역별 전력 사용량",
                showInLegend: true, 
                dataPoints:[
                    { label: "서울시", y: 45787926 /1000000 },
                    { label: "부산시", y: 20503969/1000000 },
                    { label: "대구시", y: 14758568/1000000 },
                    { label: "인천시", y: 23638582/1000000 },
                    { label: "광주시", y: 8531108/1000000 },
                    { label: "대전시", y: 9405220/1000000 },
                    
                    { label: "울산시", y: 33157834 /1000000},
                    { label: "세종시", y: 3393222/1000000 },
                    { label: "경기도", y: 124688963/1000000 },
                    { label: "강원도", y: 16120066/1000000},

                    { label: "충청북도", y: 26901894/1000000 },
                    { label: "충청남도", y: 50422732/1000000 },
                    { label: "전라북도", y: 20538911/1000000 },
                    { label: "전라남도", y: 30973974 /1000000},
                    { label: "경상북도", y: 41001626/1000000 },
                    { label: "경상남도", y: 34069974/1000000 },
                    { label: "제주도", y: 5373287/1000000 }
                ]
            },
            {
                type: "column",	
                name: "지역별 발전량(TW)",
                legendText: "지역별 발전량",
                axisYType: "secondary",
                showInLegend: true,
                dataPoints:[
                    { label: "서울시", y: 5122176/1000000 },
                    { label: "부산시", y: 40647380/1000000},
                    { label: "대구시", y: 2568644 /1000000},
                    { label: "인천시", y: 57135627/1000000 },
                    { label: "광주시", y: 167834/1000000 },
                    { label: "대전시", y: 167834/1000000 },
                    
                    { label: "울산시", y: 29808674/1000000 },
                    { label: "세종시", y: 167834/1000000 },
                    { label: "경기도", y: 72512661/1000000 },
                    { label: "강원도", y: 27875047/1000000 },

                    { label: "충청북도", y: 2221149/1000000 },
                    { label: "충청남도", y: 114103936 /1000000},
                    { label: "전라북도", y: 12599529 /1000000},
                    { label: "전라남도", y: 58217106/1000000 },
                    { label: "경상북도", y: 58217106/1000000 },
                    { label: "경상남도", y: 35332874/1000000 },
                    { label: "제주도", y: 3821827 /1000000}
                ]
            }]
        }); 
        chart.render();

            function toggleDataSeries(e) {
                if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                }
                else {
                    e.dataSeries.visible = true;
                }
                chart.render();
            }

        }
    </script>    
    <!-- pie 차트 ################################################################# -->
    <script>
        $(document).ready(function() {
            let ctx = document.getElementById("PieChart").getContext("2d");
            let myChart = new Chart(ctx, {
                type: "pie",
                data: {
                    labels: [
                        '일반수력','양수','소수력','무연탄','유연탄','중유','LNG','유류','원자력','신재생','집단','내연력','기타'
                    ],
                    datasets: [
                        {
                            label: "에너지 종류",
                            data: [3206.0,3271.0,671.0,2094.0,185241.0,1504.0,111690.0,69.0,160184.0,31057.0,45567.0,405.0,4940.0],
                             backgroundColor: ["#FF8C00", "#FF69B4", "#FFCE56", "#FF6384", "#00FF00", "#00BFFF", "#36A2EB", "#9400D3", "#ADFF2F", "#DC143C", "#BA55D3", "#FFD700", "#00FFFF"],
                        }
                    ],
                },
                options: {
                    legend: {
                        position: "bottom",
                        align: "start",
                        labels: {
                            boxWidth: 15,
                            fontColor: "black",
                        },
                    },
                },
            });
        });
        </script>
        
    


    
    <!-- Bootstrap core JavaScript-->
    <script type="text/javascript"
            src="{% static 'mainapp/vendor/jquery/jquery.min.js' %}">
    </script>
    <script type="text/javascript"
            src="{% static 'mainapp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}">
    </script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'mainapp/vendor/jquery-easing/jquery.easing.min.js' %}"> </script>
    <!-- Custom scripts for all pages-->
    <script  src="{% static 'mainapp/js/sb-admin-2.min.js' %}"> </script>
    <!-- Page level plugins -->
    <script  src="{% static 'mainapp/vendor/chart.js/Chart.min.js' %}"></script>
    <!-- Page level custom scripts -->
    <script  src="{% static 'mainapp/js/demo/chart-area-demo.js' %}"> </script>
    <script src="{% static 'mainapp/js/demo/chart-pie-demo.js' %}"></script>




    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<!-- ################################## -->



    
</body>

</html>